---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
---

<!doctype html>
<BaseLayout PageID="home">
  <BaseCard image="/home.webp" title="home">
    <h1 id="h1">🧊 Accouting Global S.A.</h1>
    <hr />

    <p>
      Si estas emprendiendo una nueva empresa y quieres hacerla crecer significativamente
      no dudes en contactarnos, ofrecemos servio de calidad, desde consejos para emprender hasta llecar
      la contabilidad por ti.  <a
        href="https://astro.build/">Accouting Global</a
      >, Tu mejor opcion y servicio de excelencia.
    </p>

    <h2>Metas</h2>

    <ul>
      <li>
        <strong>Vision:</strong> Ser reconocidos como líderes en servicios contables, proporcionando soluciones innovadoras y de alta calidad que impulsen el éxito financiero de nuestros clientes. Buscamos ser el socio de confianza para empresas de todos los tamaños, brindándoles tranquilidad y seguridad en sus operaciones financieras.
      </li>
      <br>
      <li>
        <strong>Mision:</strong>Nuestra misión es ofrecer servicios contables integrales que vayan más allá de la simple cumplimentación de obligaciones fiscales. Nos comprometemos a entender las necesidades específicas de cada cliente y a proporcionarles asesoramiento experto y personalizado para optimizar su gestión financiera. Nos esforzamos por mantener altos estándares de ética, profesionalismo y precisión en todo lo que hacemos, contribuyendo así al crecimiento y la estabilidad de las empresas a las que servimos.
      </li>
    </ul>

    <h2>Formas de uso</h2>

    <p>
      Estas son las maneras mas comunes pero efectivas dentro del rango de trabajo.
    </p>
    <pre
      class="astro-code github-dark mockup-code"
      style="background-color:#24292e;color:#e1e4e8;overflow-x:auto"
      tabindex="0"
      data-language="sh"><code><span class="line"><span style="color:#B392F0">Inversiones</span><span style="color:#9ECBFF"> 
          Cuando diversificas tu cartera, no pones todos tus huevos en una sola canasta. 
          En lugar de invertir todo tu capital en una única acción o sector, lo 
          distribuyes en varios tipos de activos. Esto se debe a que diferentes clases 
          de activos pueden comportarse de manera diferente en distintas condiciones 
          del mercado. <br>
          Por ejemplo, si inviertes únicamente en acciones y el mercado de valores 
          experimenta una caída significativa, podrías enfrentar grandes pérdidas. 
          Sin embargo, si también tienes inversiones en bonos y bienes raíces, es 
          posible que estas se comporten de manera diferente durante el mismo período. 
          Los bonos, por ejemplo, tienden a ser menos volátiles y pueden actuar como 
          un amortiguador durante tiempos difíciles en el mercado de valores. <br>
          La diversificación no solo se limita a diferentes clases de activos, sino 
          también a diferentes empresas, sectores y geografías. Por ejemplo, podrías 
          invertir en acciones de empresas de tecnología, salud, energía y consumo, en 
          lugar de concentrarte únicamente en un sector específico.</span></span></code></pre>

    <h2>Planes a Futuro:</h2>

    <p>
      En nuestra empresa, nos esforzamos constantemente por mirar hacia adelante y establecer metas ambiciosas que impulsen nuestro crecimiento y éxito continuo.
    </p>

    <ul>
      <li>
        <strong>Expansión de servicios</strong>
      </li>
      <li>
        <strong>Desarrollo de nicho</strong>
      </li>
      <li>
        <strong>Digitalización y automatización</strong>
      </li>
    </ul>

    <h2> reconocimientos</h2>

    <p>
      Nos enorgullece compartir que en Accouting Global, nuestro compromiso con la excelencia y la calidad ha sido reconocido por la comunidad empresarial y la industria.
    </p>

    <ul>
      <li>
        <a href="https://github.com/saicaca">Premio a la Excelencia en Servicios Contables</a>
      </li>
      <li>
        <a href="https://github.com/WRXinYue">Certificación de Sostenibilidad Empresarial</a>
      </li>
    </ul>

    <p>
      Estos reconocimientos nos inspiran a seguir avanzando, innovando y sirviendo a nuestros clientes con la excelencia que nos distingue.
    </p>
  </BaseCard>
</BaseLayout>
