---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/BaseCard.astro";
---

<!doctype html>
<BaseLayout PageID="project">
  <BaseCard title="Project">
    <h1 id="h1">Proyectos</h1>
    <hr />
    <h2> Proyecto Principal: Desarrollo de una Plataforma de Contabilidad en la Nube</h2>
    <p>Este proyecto implica la creación de una plataforma de contabilidad en la nube que permita a los clientes acceder y gestionar sus datos financieros desde cualquier lugar y en cualquier momento. La plataforma incluirá funciones de contabilidad básica, generación de informes financieros, gestión de nóminas y asesoramiento fiscal. El objetivo es ofrecer una solución integral y fácil de usar que mejore la eficiencia y la precisión en la gestión financiera de las empresas.</p>
    <h2>Proyecto Secundario: Implementación de un Programa de Capacitación en Tecnología Financiera</h2>
    <p>Este proyecto consiste en desarrollar e implementar un programa de capacitación en tecnología financiera para el equipo interno de la empresa. El programa incluirá sesiones de formación sobre el uso de software de contabilidad avanzado, herramientas de análisis de datos financieros y tendencias en tecnología financiera (Fintech). El objetivo es mejorar las habilidades técnicas del equipo y prepararlos para adaptarse a las últimas innovaciones en el campo de la contabilidad y las finanzas.</p>
  </BaseCard>
</BaseLayout>
